# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store
Thumbs.db

# Ignore Gemfile.lock, but not Gemfile
Gemfile.lock

# Ignore bundler config, but not .bundle directory
/.bundle/config

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Linux system files
*~

# Ignore temporary files created by editors
*~
*.swp

# Ignore temporary files created by vim
*.swp

# Ignore temporary files created by emacs
*~

# Ignore temporary files created by IntelliJ IDEA
.idea/

# Ignore temporary files created by Visual Studio Code
.vscode/

# Ignore temporary files created by NetBeans IDE
nbproject/private/

# Ignore temporary files created by Eclipse IDE
.settings/
.metadata/
.classpath
.project

# Ignore temporary files created by Xcode IDE
xcuserdata/

# Ignore temporary files created by Android Studio IDE
.idea/
.gradle/
local.properties

# Ignore temporary files created by JetBrains IDEs (e.g. IntelliJ IDEA, PyCharm)
.idea/

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock
